/*
!/.git[a-z]*

!/.config/
/.config/*


!/.config/alacritty
/.config/alacritty/themes/
!/.config/bottom
!/.config/bat
!/.config/nvim
!/.config/kitty
!/.config/skhd
!/.config/tmux
/.config/tmux/plugins/
!/.config/yazi
!/.config/yabai

!/.zshenv
!/.zshrc
!/.config/install/
# !/.config/install/brew.sh

!README.md
