/*
!/.git[a-z]*

!/.config/
/.config/*


!/.config/alacritty
/.config/alacritty/themes/
!/.config/aerospace
!/.config/bottom
!/.config/bat
!/.config/sketchybar/
!/.config/nvim
!/.config/kitty
!/.config/install/
!/.config/tmux
/.config/tmux/plugins/
!/.config/yazi

!/.zshenv
!/.zshrc
!/.hammerspoon/
# !/.config/install/brew.sh

!README.md
