/*
!/.git[a-z]*
!/.github/
!/delta.gitconfig
!.editorconfig
!.stowrc
!.stow-local-ignore
!/*.zsh
!/test.sh

!/.config/
/.config/*

!/.config/aerospace
!/.config/alacritty
!/.config/bat
!/.config/bottom
!/.config/gh
!/.config/gh-dash
!/.config/btop
!/.config/ghostty
!/.config/brew/
!/.config/install.sh
!/.config/kitty
!/.config/nvim
!/.config/opencode/
!/.config/sketchybar/
!/.config/tmux
!/.config/yazi
!/.config/zsh
!/.config/starship.toml
# ignored
/.config/tmux/plugins/
/.config/alacritty/themes/

!/.zshenv
!/.zshrc
!/.zprofile
!/install.sh

!README.md
